# Виртуальное окружение
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Модель YOLO — скачивается автоматически
*.pt
*.yaml

# Фотографии нарушений — не пушим в репо
violations/

# Секреты
.env

# Видеофайлы
*.mp4
*.avi
*.mov

# OS файлы
.DS_Store
Thumbs.db